.cards {
  padding-top: 20px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  justify-content: centercd;
}
