.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 40%) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0 0 12px;
}

.profile__subtitle {
  margin: 0;
}

.profile__edit-button {
  margin-top: auto;
  margin-right: auto;
  border: none;
  padding: 0px;
  background-color: #fcf5e5;
}

.profile__add-button {
  background-color: #000;
  color: #fff;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
}
